<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59581282456-3sulmcovof156pmt31cqfbsbb684vkjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59581282456-3sulmcovof156pmt31cqfbsbb684vkjh</string>
	<key>API_KEY</key>
	<string>AIzaSyBfG7zSn6OLNCor0BASF7kFXHoR_Jj3tCA</string>
	<key>GCM_SENDER_ID</key>
	<string>59581282456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>golubenkovvs-gmail.com.FirebaseExample</string>
	<key>PROJECT_ID</key>
	<string>fir-example-cc00a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example-cc00a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59581282456:ios:771b801fa456a7aeda78ed</string>
</dict>
</plist>